.history-booking-manage{
    margin-top: 100px;
}
.table-manage-service{
    height: 80vh;
}
.history-booking-manage .filter-container {
  width: 700px;
  height: 40px;
  background: #e2f0f7;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  box-shadow: 1px -1px 8px #3e3e3e 33;
  color: #7a8e9e;
}
.history-booking-manage .filter-item {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  position: relative;
}
.history-booking-manage .filter-item:hover {
  color: #0a8;
  cursor: pointer;
}
.history-booking-manage .active-filter {
  color: #0a8;
}
.history-booking-manage i {
  padding-right: 5px;
}
.history-booking-manage .seperator {
  border-right: 2px solid #abbbc7;
  height: 25px;
}
.history-booking-manage .filter-dropdown-content {
  margin-top: 10px;
  width: 500px;
  transform-origin: top;
  transition: ease-in-out 0.2;
  transform: scaleY(0);
}
.history-booking-manage .status-filter-chips {
  background-color: #f3f6f7;
  border-radius: 50px;
  padding: 5px 10px;
  color: #616060;
}
.history-booking-manage .status-filter-chips:hover {
  background-color: #00c39c;
  color: #fff;
  cursor: pointer;
}
.history-booking-manage .active {
  background-color: #0a8;
  color: #fff;
}
.history-booking-manage .scale {
  transform: scaleY(1);
}
